@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.resume {
    width: 100%;
    height: 40vh;
    font-family: 'Open Sans', sans-serif;
}

.resume h1 {
    margin-left: 12%;
    margin-top: 10%;
    font-size: 36px;
    letter-spacing: 2px;
}

.more-details {
    margin-left: 12%;
    margin-top: -8%;
    font-size: 25px;
    letter-spacing: 2px;
}

.date{
    margin-left: 50%;
    font-size: 16px;
    float: left;
    margin-right: 2%;
}

.info-head {
    font-size: 24px;
    margin-top: -8px;
    width: 350px;
    margin-left: 60%;
}

.exp-details p{
    width: 350px;
    margin-left: 60%;
    margin-top: 30px; 
    font-size: 17px;
}

.date2 {
    margin-left: 50%;
    font-size: 16px;
    float: left;
    margin-right: 3%;
}

.info-head2 {
    margin-left: 12%;
    margin-top: 5%;
    font-size: 25px;
    letter-spacing: 2px;
    max-width: 340px;
    margin-left: 60%;
}

.more-details2 {
    margin-left: 12%;
    margin-top: 8%;
    font-size: 25px;
    letter-spacing: 2px;
}

.skills-list {
    position: absolute;
    margin-left: 60%;
    max-width: 340px;
}

.skills-list li {
    font-size: 16px;
    margin-bottom: 20px;
}